<!--<app-widget-->
<!--  [headerTemplate]="altWidgetHeader"-->
<!--  [contentTemplate]="altWidgetContent"-->
<!--  [actionTemplate]="altAction"-->
<!--/>-->

<!--<ng-template #altWidgetHeader let-header>-->
<!--  <div>-->
<!--    {{ header  | titlecase }} alt header-->
<!--  </div>-->
<!--</ng-template>-->
<!--<ng-template #altWidgetContent let-altWidgetContent>-->
<!--  <div>{{ altWidgetContent | titlecase }} alt content</div>-->
<!--</ng-template>-->
<!--<ng-template #altAction let-altAction>-->
<!--  <div>{{ altAction  | titlecase }} alt action</div>-->
<!--</ng-template>-->
