<!-- No templates provided, will use default layout -->
<app-table [data]="products()">
  <ng-template appTableHeader>
    <th>Brand</th>
    <th>Price</th>
    <th>Rating</th>
    <th>DiscountPercentage</th>
  </ng-template>
  <ng-template
    [appTableRow]="products()"
    let-row>
    <td>{{ row.brand }}</td>
    <td>{{ row.price | currency: '$' }}</td>
    <td>
      <app-rating
        disabled="true"
        [(ngModel)]="row.rating" />
    </td>
    <td>{{ `${row.discountPercentage}  %` }}</td>
  </ng-template>
</app-table>

<!-- Basic configured template -->
<app-table [data]="employees()">
  <ng-template appTableHeader>
    <th>First</th>
    <th>Last</th>
  </ng-template>
</app-table>

<!-- Highly configured template with conditional elements -->
<app-table [data]="inventory()">
  <ng-template appTableHeader>
    @for (col of columns; track $index) {
      <th>{{ col }}</th>
    }
    @for (col of emptyColumns; track $index) {
      <th></th>
    }
  </ng-template>
  <ng-template
    [appTableRow]="inventory()"
    let-row>
    <td>{{ row.name }}</td>
    <td>{{ row.price | currency: row.currency }}</td>
    <td>{{ row.supplier }}</td>
    <td>
      @if (row.inStock > 0) {
        <button
          mat-raised-button
          (click)="purchaseItem(row.plu)">
          Buy now
        </button>
      }
    </td>
    <td>
      @if (row.inStock > 0) {
        <button
          mat-raised-button
          color="warn"
          (click)="deleteItem(row.id)">
          Delete
        </button>
      }
    </td>
    <!--    <td>-->
    <!--      <app-rating [(ngModel)]="row.rating"/>-->
    <!--    </td>-->
    <td [formGroup]="inventoryForm">
      <app-rating formControlName="{{ row.id }}" />
    </td>
    <!--    <td>-->
    <!--      <app-rating [(value)]="row.rating"/>-->
    <!--    </td>-->
  </ng-template>
</app-table>
